{% extends "main/base.html" %}
{% load martortags %}
{% load icons %}

{% block content %}
{% if person.photo %}
<div class="hero" style="background-image:url({{person.photo.url}});">
{% else %}
<div class="hero" style="box-shadow:none;">
{% endif %}
    <div class="long-title card gradient">
        <div class="card-segment person-details">
            <div class="md-photo">
                {% if person.photo %}
                    <img src="{{ person.photo.url}}"/>  
                {% endif %}
            </div>
            <div class="person-info">
                <h1 id="title">{{ person.full_name }}{% if person.cred == 'PhD' %}, {{person.cred}} {% endif %}</h1>
                <h4>{% if person.pronouns %}
                    {{ person.get_pronouns_display}}
                {% endif %}
                {% if person.email %} | 
                    <a href="mailto:{{ person.email }}"><code>{{person.email}}</code></a>
                {% endif %}</h4>
                <hr>
                {% for a in person.affiliation.all %}
                    <h3><a href="{{a.website}}">{{a.title}}</a>
                    <h4><a href="{{a.institution.website}}">{{a.institution.name}}</a>{% if a.institution.parent %}, <a href="{{a.institution.parent.website}}">{{a.institution.parent.short}}</a>{% endif %}{% if a.institution.parent.parent %}, <a href="{{a.institution.parent.parent.website}}">{{a.institution.parent.parent.short}}</a>{% endif %}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="card-array"> 
    <div class="sidebyside card hawt">
        <div class="card-segment">
            <h2 class="card-segment-head">
                Links
            </h2>
            <hr>
            <div class="card-button-list">
                <ul>
                    {% if person.vita %}
                        <a href="{{ person.vita.url }}"><li class="gradient">Vita ></li></a>
                    {% endif %}
                    {% if person.website %}
                        <a href="{{ person.website }}"><li class="gradient">Website ></li></a>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebyside card hawt">
        <div class="card-segment">
            <h2 class="card-segment-head">
                Social
            </h2>
            <hr>
            <div class="card-segment-body">
                {% if person.orcid %}
                    <span><a href="https://orcid.org/{{ person.orcid }}"><i class="ai ai-orcid ai-lg"></i></a></span>
                {% endif %}
                {% if person.zotero %}
                    <span><a href="http://zotero.com/{{ person.zotero }}"><i class="ai ai-zotero ai-lg"></i></a></span>
                {% endif %}
                {% if person.twitter %}
                    <span><a href="https://twitter.com/{{person.twitter}}"><i class="fab fa-twitter fa-lg"></i></a></span>
                {% endif %}
                {% if person.linkedin %}
                    <span><a href="https://linkedin.com/in/{{ person.linkedin }}"><i class="fab fa-linkedin fa-lg"></i></a></span>
                {% endif %}
                {% if person.gitlab %}
                    <span><a href="https://gitlab.com/{{ person.gitlab }}"><i class="fab fa-gitlab fa-lg"></i></a></span>
                {% endif %}
                {% if person.github %}
                    <span><a href="https://github.com/{{ person.github }}"><i class="fab fa-github fa-lg"></i></a></span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if person.bio %}
<div class="long-content">
    {{ person.bio|safe_markdown }}
    <hr>
</div>
{% endif %}

{% endblock %}