{% extends "main/base.html" %}
{% load martortags %}

{% block content %}
{% if site_data.short_desc %}
    <div class="feature-text">
        <p>
            {{ site_data.short_desc }}
        </p>
    </div>
{% endif %}

<div class="card-array">
    <div class="card">
        <div class="card-segment">
            <h2>Upcoming Workshops & Events</h2>
            <hr>
            {% if upcoming_events %}
                {% for event in upcoming_events%}
                <div class="list-block">
                    <h3><a href="{% url 'cal:event_detail' event.slug %}">{{event.title}}</a></h3>
                    {% if event.day %}
                        <h4>
                        {{event.day | date:"D M j" }}{% if event.start %}, {{event.start | time:"g:i"}}{% if event.end %}–{{event.end | time:"g:i"}}{% endif %}{% endif %}<br/>
                        {% for  p in event.participant.all %}
                            <a href="{{p.link}}">{{p.full_name}} ({{p.get_pronouns_display}})</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        </h4>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                No upcoming events.
            {% endif %}
            <hr>
            <div class="event">
                <h4><a href="{% url 'cal:calendar' %}">See all upcoming events.</a></h4>
            </div>
        </div>
    </div><div class="card">
        <div class="card-segment">
            <h2>Current Teaching</h2>
            <hr>
            {% if current_upcoming %}
                {% regroup current_upcoming by get_role_display as role_list %}
                {% for role, role_classes in role_list %}
                    <h2 class="list-block-header">{{role}}</h2>
                    {% for class in role_classes %}
                        {{class.title}}
                        <div class="list-block">
                            <!-- Class Title -->
                            {% if class.cl.title %}
                                <a href="{% url 'classes:class_instance' class.slug %}"><h3>{{class.cl.title}}</h3></a>
                            {% endif %}
                            <!-- Class Semester -->
                            {% if class.semester %}
                                <h4>
                                    {{class.semester.get_semester_display}} {{class.semester.year}} | {% if class.dept_site %}<a href="{{ class.dept_site }}">{{class.cl.institution.short}}</a>{% else %}{{class.cl.institution.short}}{% endif %}<br/>
                                    {% for  i in class.instructors.all %}
                                        <a href="{{i.link}}">{{i.full_name}} ({{i.get_pronouns_display}})</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </h4>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% else %}
                No current or upcoming classes.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}