html, body {
    margin:0;
    padding:0;
    width:100%;
    overflow: auto;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color:#fff;
}

.background {
    margin:0;
    padding:0;
    width:100%;
    min-height:100%;
    overflow: hidden;
    position: fixed;
}

#video {
    /* z-index:0; */
    overflow: hidden;
    /* background-color: #fff; */
}

video {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%); /* % of current element */
    background-color: #fff;
}
  
.gradient {
    background: linear-gradient(290deg, rgb(216, 16, 126), rgb(57, 186, 150));
}

.long-content h1, #references {
    background: linear-gradient(290deg, rgb(216, 16, 126), rgb(57, 186, 150));
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25rem;
    color: white;
    padding: 0.75rem;
    border-bottom: 2px solid rgb(216, 16, 126);
    border-right: 2px solid rgb(216, 16, 126);
    margin-bottom: 1.5rem;
}

figcaption {
    visibility: hidden;
}

.multiply {
    mix-blend-mode:multiply;
    z-index: 20;
}

#p5 {
    z-index: 20;
    mix-blend-mode: multiply;
}

#content-col {
    margin: 5% 5% 0 25%;
    width: 70%;
    position: absolute;
    z-index: 50;
    max-width: 70%;
}

#navbar {
    position: fixed;
    z-index: 100;
    max-width: 20%;
    height: 100%;
    /* padding: 5% 0 0 2.5%; */
    color: white;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: rgb(216, 16, 126); */
    /* border-right: 2px solid white; */

}

#navbar > .card {
    border: none;
}

#nav-box {
    margin-left: 0;
    /* margin-right: auto; */
    width: auto;
    width: 100%;
    /* min-width: 30%; */
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#toggle-nav {
    display: none;
 }

#contact {
     margin-bottom: 0;
     margin-top: auto;
 }

#global-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.25rem;

}

#global-subtitle {
    /* text-transform: lowercase; */
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
    /* font-size: 1rem; */
}

#center-right-column {
    width: 60%;
    margin: 5% 0 0 2.5%;
    display: inline-block;
    height: 97%;
    overflow: hidden;
}

.instructors {
    margin-top: 1.5rem;
}

.instructor-xs-photo {
    width: 15%;
    display: inline-block;
}

.instructor-xs-photo img {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.instructor-md-photo img {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.person-details {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.md-photo {
    /* width: 25%; */
    flex: 0 1 30%;
}

.person-info {
    flex: 0 1 60%;
}

.instructor-info {
    display: inline-block;
    margin-top: 0;
    padding-top: 0;   
    vertical-align:top;
    margin-left: 2.5%;
    width: 70%;
}

.instructor-info > ul {
    list-style-type: none;
    margin: 0;
    display: block;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 0;
    width: 100%;

}

.list-unstyled {
    list-style-type: none;
    margin: 0;
    display: block;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 0;
    width: 100%;

}

img {
    width: 100%;
}

#logo-box {
    margin-left: 0;
    padding: 1.5rem;
    color: white;
    /* margin-bottom:2.5rem; */
    /* box-shadow: 0.25rem 0.25rem 0rem 0rem white; */

}

#logo {
    width: 50%;
    /* The following lines ensure that 
    the div doesn't overflow its parent */
    /* Safari/Chrome, other WebKit */
    -webkit-box-sizing: border-box;
    /* Firefox, other Gecko */
    -moz-box-sizing: border-box;  
    /* Opera/IE 8+ */  
    box-sizing: border-box;
}

.card-button-list > ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.card-button-list li { 
    list-style-type: none;
    margin: 0;
    /* display: block; */
    font-size: 0.85rem;
    font-weight: 400;
    padding: 0;
    padding: 0.35rem;
    margin-bottom: 0.5rem;
    border-top: 0.5px dashed white;
    border-left: 0.5px dashed white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.card-array {
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-segment {
    padding: 1.5rem;
    margin-bottom: 0.5rem;
}

.long-title .card-segment {
    margin-bottom: 0rem;
}

#content-col .card-segment {
    border-top: 0.5px dashed white;
    border-left: 0.5px dashed white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}


a {
    color: white;
    text-decoration: none;
}

.card-button-list > ul li.gradient:hover {
    transition: 0.25s;
    background: linear-gradient(290deg,rgb(57, 186, 150), rgb(216, 16, 126));
    border-color: rgb(216, 16, 126);
    text-decoration: none;
}

.long-content{
    background-color: white;
    padding: 1.5rem;
    /* box-shadow: 0.25rem 0.25rem  0rem 0rem  */
    border-bottom: 3px solid rgb(216, 16, 126);
    border-right: 3px solid rgb(216, 16, 126);
    font-size: 1.25rem;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    margin-bottom: 10rem;
    /* max-width: 70%; */
}

.long-content > * {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.long-content a {
    color: rgb(216, 16, 126);
    text-decoration: underline;
}

.long-content hr {
    border-top: 1px solid rgb(216, 16, 126);
}

.long-title.card {
    display:block;
    /* padding: 0.1em 1.5rem 0.1rem 1.5rem; */
    max-width: 60%;
    margin-left: 0;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(216, 16, 126);
}

a:hover {
    transition: 0.3s;
    text-decoration: underline;
}

.mitlogo {
    padding-top: 1rem;
    width: 25%;
}

#linkicons {
    padding-top: 1rem;
    display: block;
}

.icon {
    display:inline;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: italic;
}

h2.list-block-header {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

h3 {
    font-size: 0.85rem;
    padding:0;
    margin:0;
    font-weight: 700;
}

h4, #navlist {
    font-size: 0.85rem;
    padding:0;
    margin:0;
    font-weight: 400;
}

.card {
    margin-bottom:2.5rem;
    color: white;
    flex: 0 1 49%;
}

.card-img {
    background-color: rgb(216, 16, 126);
    background-blend-mode: screen;
    /* height: calc(100% + 3rem); */
    width: calc(100% + 3rem);
    margin: -1.5rem -1.5rem 1rem -1.5rem;
}

.card-img div {
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
    height: 18rem;
    background-size: cover;
    mix-blend-mode: screen;
}

.card-segment-body, #supertitle {
    font-size: 0.85rem;
    font-weight: 400;
}

.feature-text {
    display: block;
    box-shadow: none;
    font-family: 'Crimson Text', serif;
    font-size: 2.5rem;
    font-style: italic;
    margin-top: 2.5rem;
    color: white;
    padding: 1.5rem;
}

.feature-text.sub {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 2.5rem;
    color: rgba(255, 255, 255, 0.7);
    padding: 1.5rem;
}

hr {
    background-color: white;
    border: none;
    height: 1px;
}

.hero {
    min-height: 20rem;
    /* margin-left: -3rem; */
    background-size: cover;
    background-position: center;
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: white 2px solid;
    border-right: white 2px solid;
    border-top: 0.5px dashed white;
    border-left: 0.5px dashed white;
}

.hero .long-title {
    margin: 3rem 3rem 3rem 1.5rem;
    min-width:80%;
    /* border-top: 0.5px dashed white; */
    /* border-left: 0.5px dashed white; */
}

.ineligible {
    text-decoration: line-through;
    opacity: 0.5;
}

select {
    width: 100%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0;
    background-color: rgb(216, 16, 126);
    background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white'/></g></svg>") no-repeat center right;
    border: none;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
    padding: 0px;
    /* appearance: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
  }/* For IE <= 11 */
  select::-ms-expand {
    display: none; 
  }

select:hover {
  color: rgb(216, 16, 126);
  /* background-color: white; */
  background: white url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='red'/></g></svg>") no-repeat center right;
    /* font-family: 'IBM Plex Sans', sans-serif; */
  border-bottom-color: rgb(216, 16, 126);
}

.list-block {
    margin-bottom: 0.5rem;
}


.csl-entry {
    padding-left: 1.5rem;
    text-indent:-1.5rem;
}

.csl-desc {
    padding: 1rem 0rem 1rem 1.5rem;
    font-style: italic;
    /* text-indent:-1.5em; */
}

@media screen and (max-height: 600px) {
    .hide-medium {
        display: none;
    }
    #linkicons.hide-medium {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    #content-col {
        width: 55%;
        max-width: 55%;
        margin-left: 35%;
    }
    .card-array .card {
        flex: 0 1 100%;
        margin-left:0%;
        margin-bottom: 2.5rem;
    }
    .selectors {
        margin-left:0.5%;
    }
    .selectors .card-array .card {
        flex: 0 1 50%;
        margin-left:0%;
    }
    .selectors .card-array .card .card-segment {
        padding: 0.5rem;
    }
    #navbar {
        max-width: 30%;
    }
}


 
/* Small screen styles. */
@media screen and (max-width: 740px) {
    #toggle-nav {
        display: flex;
        color: white;
        padding: 2rem 0 0 0;
        cursor: pointer;
        float: right;
     }
    ul#navlist {
        display: none;
        list-style-type: none;
        margin-right:0;
        margin-left:auto;
        margin-top:1.5rem;
        font-size: 1.5rem;
        text-align: right;
        padding-top: 4rem;
    }

    nav li {
        flex: auto;
    }
    #logo.card {
        margin: 0;
        max-width: 15%;
        box-shadow: none;
    }
    #navbar {
       width: 100%;
       height: auto;
       left: 0;
       max-width:100%;
       margin: 0;
       flex-direction:row;
       align-content: space-between;
       background-color: rgb(216, 16, 126);
       border-bottom: white 2px solid;
       font-size: 1.5rem;
       border-right: none;
    }

    #navbar > .card {
        margin:0;
        box-shadow: none;
        color: white;
        display: block;
        align-items: right;
    }
    #navbar #title-card {
        display: none;
    }
    #contact.small-hide, .small-hide {
        display:none;
    }
    
    #logo {
        margin: 0;
        display: block;
        width: 6rem;
        box-shadow: none;
    }
    #content-col {
        width: 100%;
        margin: 0;
        max-width:100%;
        margin-top:6rem;
    }
    .selectors {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 9rem; 
        z-index:100;
    }
    .selector {
        background-color: rgb(216, 16, 126);
    }
    .long-content {
        margin-bottom: 0;
    }
    .hero > .long-title {
        margin-top:10rem;
        /* The following lines ensure that 
        the div doesn't overflow its parent */
        /* Safari/Chrome, other WebKit */
        -webkit-box-sizing: border-box;
        /* Firefox, other Gecko */
        -moz-box-sizing: border-box;  
        /* Opera/IE 8+ */  
        box-sizing: border-box;    
    }
    .hero {
        box-shadow: none;
        border-bottom: white 2px solid;
        border-right:  none;
    }
    .md-photo {
        /* width: 25%; */
        flex: 0 1 100%;
    }
    
    .person-info {
        flex: 0 1 100%;
    }
}