{% extends "main/base.html" %}
{% load martortags %}
{% load static %}

{% block content %}

<div class="feature-text"><p>Current Teaching</p></div>
{% if current_upcoming %}
{% regroup current_upcoming by get_role_display as role_list %}
{% for role, role_classes in role_list %}
<div class="feature-text sub">{{role}}</div>
<div class="card-array">
    {% for c in role_classes %}<div class="card {% if c.cancel %}cancel{% endif %}">
    <div class="card-segment">
        {% if c.banner %}
            <a href="{% url 'classes:class_instance' c.slug %}"><div class="card-img"><div style="background-image:url({{c.banner.url}})"></div></div></a>
        {% endif %}
        <h4 class="supertitle">{{c.semester.get_semester_display}} {{c.semester.year}} | {% if c.dept_site %}<a href="{{ c.dept_site }}">{{c.cl.institution.short}}</a>{% else %}{{c.cl.institution.short}}{% endif %}</h4>
        <h2 class="card-segment-head"><a href="{% url 'classes:class_instance' c.slug %}">{{c.cl.title}}</a></h2>
        <hr>
        {% for i in c.instructors.all %}
            <h4><a href="{% url 'people:person' i.slug %}">{{ i.full_name }} ({{i.get_pronouns_display}})</a></h4>
        {% endfor %}
        {% if c.desc %}
            {{ c.desc|safe_markdown|truncatewords:15 }}
        {% endif %}
        <div class="card-button-list">
            <ul>
                {% if c.canvas %}
                    <li class="gradient"><a href="{{c.canvas}}">Canvas ></a></li>
                {% endif %}
                {% if c.syllabus %}
                    <li class="gradient"><a href="{{ c.syllabus }}">Syllabus ></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>{% endfor %}
</div>{% endfor %}
{% else %}
<div class="long-content">
    No matching tutorials.
</div>
{% endif %}
{% if class_list %}
<div class="feature-text"><p>Previous Classes</p></div>
{% include page_template %}
{% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'el-pagination/js/el-pagination.js'%}"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 200
        });
    </script>
{% endblock %}